:root {
    --border-color: #291D4D;
    --dialog-background: #FFF384;
    --image-background: #84fff53b;
    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selectec-background: #7fc2ff;
}

* {
    box-sizing: border-box
}

body {
    background : #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 368px;
    height: 208px;
    margin: 0 auto;
    margin-top: 20px;

    outline: 1px solid white;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}