.ImagePopup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 36px;
    top: 0;
    font-size: 12px;
    padding: 4px;
    background: var(--image-background);
    /* border-top: 1px solid var(--menu-border-color); */
    color: var(--menu-font-color);
    overflow: hidden
}

div.ImagePopup > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

 /* div.ImagePopup > img {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%); */